<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Cadastro Médicos</title>
		
		<!-- JQuery -->
		<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<script>
			$(document).ready(function(){


				$('#btn-publicar').click(function(){

					// criar um formData
					var formData = new FormData();
                    var nome = document.getElementById("nome").value;
                    var especialidade = document.getElementById("especialidade").value;
                    //var formacao = document.getElementById("formacao").value;
                    //var crm = document.getElementById("crm").value;
                    var cidade = document.getElementById("cidade").value;  
                    var sexo = document.getElementById("sexo").value;      
                    var temFoto = document.getElementById("temFoto").value;           
					var caminho_foto = document.getElementById("caminho_foto").files[0];
					

                    formData.append("nome", nome);
                    formData.append("especialidade", especialidade);
                    //formData.append("formacao", formacao);
                    //formData.append("crm", crm);
                    formData.append("cidade", cidade);
                    formData.append("sexo", sexo);
                    formData.append("temFoto", temFoto);
                    formData.append("caminho_foto", caminho_foto);

					// criar xmlhttprequest
					var xhr = new XMLHttpRequest();

					// verificar as mudanças de estado
					xhr.onreadystatechange = function(){
						if(xhr.readyState == 4){
							var resposta = xhr.responseText;
							document.getElementById('mensagem').innerHTML = resposta;
						}
					}

					//fazer o envio do nosso request
					xhr.open("POST", "http://localhost:8081/medicos");
					xhr.send(formData);
				});

			});
		</script>

	</head>

	<body>


		<div class="container">
			<div class="col-md-2"></div>
			<div class="col-md-8" id="container_timeline"></div>
			
		</div>


		<div class="container"  id="container_form">
			<div class="panel panel-default">

			<div class="panel-heading"><h4>Cadastro Médicos</h4></div>
			
			<div class="panel-body">
                    <div class="form-group">
                            <input type="text" name="nome" id="nome" class="form-control" placeholder="nome" autocomplete="off">
                            <input type="text" name="especialidade" id="especialidade" class="form-control" placeholder="especialidade" autocomplete="off">
                           <!-- <input type="text" name="formacao" id="formacao" class="form-control" placeholder="formacao" autocomplete="off">
                            <input type="text" name="crm" id="crm" class="form-control" placeholder="crm" autocomplete="off"> -->
                            <input type="text" name="cidade" id="cidade" class="form-control" placeholder="cidade" autocomplete="off">
                            <input type="text" name="sexo" id="sexo" class="form-control" placeholder="digite 'M' ou 'F'" autocomplete="off">
                            <input type="text" name="temFoto" id="temFoto" class="form-control" placeholder="DIGITE 0 (zero) CASO NÃO TENHA FOTO. DIGITE 1 CASO TENHA" autocomplete="off">
                        </div>
				<div class="form-group">
					<input type="file" name="caminho_foto" id="caminho_foto" class="form-control-file">
				</div>

				

				<div class="form-group">
					<button class="btn btn-success" id="btn-publicar">Publicar</button>
					<button class="btn btn-danger" id="btn-cancelar-publicacao">Cancelar</button>
				</div>
				<div id="mensagem"></div>
			</div>
		</div>
	</body>
</html>